#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.spinner {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #172a38; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
footer {
  margin-top: 50px;
}
.logout-button{
  height: 45px;
  color: red;
  margin-top: 45px;
}
.logout-button:hover {
  filter: brightness(250%);
}
.welcome-body {
  width: 100%;
  height: 700px;
}
.welcome-buttons {
  height: 50px;
}
.form-container {
  height: 300px;
  display: flex;
  flex-flow: column;
}
.form-body {
  display: flex;
  flex-flow: column;
  align-items: center;
}
input {
}
.form-button {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.text-danger {
  color: red;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
header {

}
.header-title {
  display: flex;
  flex-flow: row;
  height: 150px;
  justify-content: space-evenly;
}
.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
}
.filter-widget {
  display: flex;
  width: 95%;
  flex-flow: row;
  justify-content: end;
}
.input-filter {
  display: flex;
  flex-flow: row;
  margin-left: 20px;
}
.input-filter button {
  background: #3b3b3b;
}
.game-cards-container {
  margin-top: 15px;
  height: 500px;
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;
  padding: 5px;
}
.game-card {
  background: #202122;
  border: 3px solid gray;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.7);
  width: 150px;
  height: 175px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}
.game-card:hover {
  border-color: white;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}
.game-icon {
  width: 300px;
  height: auto;
  border-radius: 15px;
  margin-bottom: 25px;
  margin-right: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}

.game-info {
  display: flex;
  width: 1280px;
}
.game-details {
  width: 980px;
  display: flex;
  flex-flow: column;
}
.game-tags-container {
  padding: 15px;
  border-radius: 5px;
  background: #2a2a2a;
  display: flex;
}
.game-tag {
  margin-left: 15px;
  border: 2px solid gray;
  padding: 2px 10px 3px 10px;
  background: #233131;
  border-radius: 15px;
}
.game-rating {
  padding: 15px;
  border-radius: 5px;
  background: #2a2a2a;
  margin-top: 30px;
  text-align: left;
}
table {
  justify-content: center;
}
th {
  border-bottom: 2px solid white;
}
tr {
  margin-top: 20px;
}
tbody tr:hover {
  background: #464646;
}
td {
  padding: 5px;
  border-right: 1px solid rgba(255, 255, 255, 0.29);
  border-left: 1px solid rgba(255, 255, 255, 0.29);
}
.data-export-panel {
  margin-left: 150px;
  margin-top: 45px;
  display: flex;
}
.data-export-container {
  width: 100%;
}
.data-export-panel-links {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
}
.data-export-panel a {
  width: 200px;
  background: #242424;
  color: #00a5eb;
  padding: 2px;
  font-size: 125%;
  margin: 5px;
  border-radius: 20px 0 0 0;
  border: #a6a6a6 solid 2px;
  box-shadow: black 1px 2px 15px 0;
  transition: transform 0.3s ease;
}
.data-export-panel a:hover {
  background: #373737;
  border-color: white;
  transform: translate(-5px, -1px);
  box-shadow: black 5px 5px 10px ;
}
